[flake8]
max-line-length = 88
extend-ignore = E203, E501, W503
exclude = .git,__pycache__,.venv,venv,node_modules,.tox,build,dist
select = E,W,F,N
extend-select = N801,N802,N803,N806,N811,N815,N816
docstring-convention = google